<div class="chat-container">
  <div class="chat-box" #chatBox>
    <!-- Messages -->
    <div *ngFor="let message of chatMessages" class="message-row" [ngClass]="{'user': message.role === 'user', 'assistant': message.role === 'assistant'}">
      <ng-container *ngIf="message.role === 'assistant'">
        <img class="avatar" src="assets/img/ai.png" alt="avatar">
      </ng-container>
      <div class="message-box">
        <div class="message-content" [innerHTML]="message.content"></div> <!-- Utilisation de [innerHTML] -->
      </div>
    </div>
    <!-- Preset questions -->
    <div *ngIf="chatMessages.length === 0" class="preset-questions">
      <button *ngFor="let question of presetQuestions" (click)="sendPresetQuestion(question)">
        {{ question }}
      </button>
    </div>
    <!-- Loading animation -->
    <div *ngIf="loading" class="loading-animation">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="input-box">
    <div class="input-wrapper">
      <input [(ngModel)]="userInput" placeholder="Posez votre question..." />
      <button (click)="sendMessage()">Envoyer</button>
    </div>
  </div>
</div>
