<div *ngIf="currentQuestionIndex < questions.length">
  <h2>{{ questions[currentQuestionIndex].question }}</h2>
  <div class="options">
    <div class="option" (click)="selectAnswer('A')">
      <img src="{{ questions[currentQuestionIndex].options[0] }}" alt="Option A">
    </div>
    <div class="option" (click)="selectAnswer('B')">
      <img src="{{ questions[currentQuestionIndex].options[1] }}" alt="Option B">
    </div>
    <div class="option" (click)="selectAnswer('C')">
      <img src="{{ questions[currentQuestionIndex].options[2] }}" alt="Option C">
    </div>
  </div>
</div>
