:host {
  display: block;
  background: linear-gradient(to right, #b7ffba, #fff8b6, #64b5f6);
  padding: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden; /* Empêche le débordement horizontal */
}

h2 {
  text-align: center;
  color: #938466;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Lucida Sans', sans-serif;
  font-weight: 800;
  text-shadow:
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
}

.options {
  display: flex;
  flex-wrap: wrap; /* Permet aux images de revenir à la ligne */
  justify-content: center;
  gap: 1rem; /* Espace entre les images */
  margin-top: 2rem;
}

.options img {
  flex: 1 1 calc(33% - 2rem); /* Chaque image occupe environ un tiers du conteneur */
  max-width: 300px;
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.options img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) {
  :host {
    padding: 1rem; /* Réduit le padding pour éviter le débordement */
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .options {
    gap: 0.5rem;
    margin-top: 1.5rem;
  }

  .options img {
    flex: 1 1 100%; /* Les images occupent toute la largeur sur mobile */
    max-width: none;
  }

  .options img:hover {
    transform: scale(1.0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
}
