/* Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.navbar .logo img {
  height: 50px;
  width: auto;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  z-index: 20;
}

.menu-icon span {
  height: 3px;
  width: 25px;
  background: black;
  margin-bottom: 4px;
  border-radius: 3px;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-item {
  margin-right: 2em;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #28a745;
}

.button-link {
  display: inline-block;
  padding: 0.3em 0.3em;
  border: 1.5px solid #28a745;
  color: #28a745;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.2em;
}

.button-link:hover {
  background-color: #a8ffbc;
  color: rgb(0, 0, 0);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  /* Show the menu icon */
  .menu-icon {
    display: flex;
  }

  /* Hide the navigation items by default */
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    z-index: 15;
  }

  .nav-item {
    width: 100%;
    margin: 0;
  }

  .nav-item a, .button-link {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
  }

  /* Show navigation items when the menu is toggled */
  #menu-toggle:checked ~ .nav-items {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
  }
}
