<div class="pricing-section">
    <h1>Kits RSE</h1>
    <div class="scroll-container">
      <ul class="cards" role="list">
        <!-- Kit RSE -->
        <li>
          <article class="card | l-stack l-stack-2xs" data-theme="light">
            <h2 class="plan-title | text-1 heading">Kit RSE</h2>
            <div class="metadata | l-stack">
              <p class="price">
                <span class="font-semibold">€880</span>
              </p>
              <div class="ctas | l-flex-grid">
                <a data-type="primary" href="/kits/rse" class="button">Acheter le Kit</a>
              </div>
            </div>
            <div class="pricing-card-features-list l-stack l-stack-xs">
              <p class="font-bold">Inclus dans le kit:</p>
              <ul role="list" class="l-stack checklist">
              <li><p>Programme de sensibilisation</p></li>
              <li><p>Idées ateliers RSE</p></li>
              <li><p>Plan de communication</p></li>
              <li><p>Les Objectifs du Développement Durable: c'est quoi</p></li>
              <li><p>Sujets Phare de la RSE: Notions à connaître</p></li>
              <li><p>C'est quoi la RSE</p></li>
              <li><p>7 Questions centrales et 36 Domaines d'actions</p></li>
              <li><p>Idées calendrier RSE</p></li>
              <li><p>Calendrier RSE</p></li>
              <li><p>3 méthodes RSE</p></li>
              <li><p>Définir ses axes</p></li>
              <li><p>Glossaire RSE</p></li>
              <li><p>Grille auto-diagnostic</p></li>
            </ul>
          </div>
        </article>
      </li>
  
      <!-- Kit Gouvernance -->
      <li>
        <article class="card | l-stack l-stack-2xs" data-theme="light">
          <h2 class="plan-title | text-1 heading">Kit Gouvernance</h2>
          <div class="metadata | l-stack">
            <p class="price">
              <span class="font-semibold">€1360</span>
            </p>
            <div class="ctas | l-flex-grid">
              <a data-type="primary" href="/kits/gouvernance" class="button">Acheter le Kit</a>
            </div>
          </div>
          <div class="pricing-card-features-list l-stack l-stack-xs">
            <p class="font-bold">Inclus dans le kit:</p>
            <ul role="list" class="l-stack checklist">
              <li><p>Plan de communication</p></li>
              <li><p>Charte Éthique</p></li>
              <li><p>Politique de Développement Durable</p></li>
              <li><p>C'est quoi la RSE</p></li>
              <li><p>Objectifs du Développement Durable: ça sert à quoi</p></li>
              <li><p>Déterminer sa raison d’être</p></li>
              <li><p>3 méthodes RSE</p></li>
              <li><p>Définir ses axes</p></li>
              <li><p>7 Questions centrales et 36 Domaines d'actions</p></li>
              <li><p>Politique RSE</p></li>
              <li><p>Guide des 20 outils de gestion de projet</p></li>
              <li><p>Comprendre la gouvernance</p></li>
              <li><p>Partenaires</p></li>
              <li><p>Matrice de matérialité</p></li>
              <li><p>Politique de gouvernance</p></li>
              <li><p>Code de conduite Fournisseurs</p></li>
              <li><p>Questionnaires Parties prenantes</p></li>
            </ul>
          </div>
        </article>
      </li>
  
      <!-- Kit Économique -->
      <li>
        <article class="card | l-stack l-stack-2xs" data-theme="light">
          <h2 class="plan-title | text-1 heading">Kit Économique</h2>
          <div class="metadata | l-stack">
            <p class="price">
              <span class="font-semibold">€570</span>
            </p>
            <div class="ctas | l-flex-grid">
              <a data-type="primary" href="/kits/economique" class="button">Acheter le Kit</a>
            </div>
          </div>
          <div class="pricing-card-features-list l-stack l-stack-xs">
            <p class="font-bold">Inclus dans le kit:</p>
            <ul role="list" class="l-stack checklist">
              <li><p>Guide achats responsable</p></li>
              <li><p>Calendrier RSE</p></li>
              <li><p>Idées calendrier RSE</p></li>
              <li><p>Partenaires RSE</p></li>
              <li><p>Plan de communication</p></li>
              <li><p>Questionnaires fournisseurs</p></li>
              <li><p>Idées d'innovations durables</p></li>
              <li><p>Questionnaire satisfaction</p></li>
            </ul>
          </div>
        </article>
      </li>
  
      <!-- Kit Environnement -->
      <li>
        <article class="card | l-stack l-stack-2xs" data-theme="light">
          <h2 class="plan-title | text-1 heading">Kit Environnement</h2>
          <div class="metadata | l-stack">
            <p class="price">
              <span class="font-semibold">€980</span>
            </p>
            <div class="ctas | l-flex-grid">
              <a data-type="primary" href="/kits/environnement" class="button">Acheter le Kit</a>
            </div>
          </div>
          <div class="pricing-card-features-list l-stack l-stack-xs">
            <p class="font-bold">Inclus dans le kit:</p>
            <ul role="list" class="l-stack checklist">
              <li><p>Guide achats responsable</p></li>
              <li><p>Partenaires RSE</p></li>
              <li><p>Idées ateliers environnement</p></li>
              <li><p>Politique de Développement Durable</p></li>
              <li><p>Politique des déchets</p></li>
              <li><p>Affiche Consignes Tri guide du recyclage</p></li>
              <li><p>Calendrier RSE</p></li>
              <li><p>Idées calendrier RSE</p></li>
              <li><p>Quizz environnement</p></li>
              <li><p>Idées d'innovations durables</p></li>
              <li><p>Charte de Bonnes Pratiques et Éco-gestes</p></li>
              <li><p>Questionnaires fournisseurs</p></li>
            </ul>
          </div>
        </article>
      </li>
  
      <!-- Kit Social -->
      <li>
        <article class="card | l-stack l-stack-2xs" data-theme="light">
          <h2 class="plan-title | text-1 heading">Kit Social</h2>
          <div class="metadata | l-stack">
            <p class="price">
              <span class="font-semibold">€1340</span>
            </p>
            <div class="ctas | l-flex-grid">
              <a data-type="primary" href="/kits/social" class="button">Acheter le Kit</a>
            </div>
          </div>
          <div class="pricing-card-features-list l-stack l-stack-xs">
            <p class="font-bold">Inclus dans le kit:</p>
            <ul role="list" class="l-stack checklist">
              <li><p>Partenaires RSE</p></li>
              <li><p>Idées ateliers en société</p></li>
              <li><p>Plan de communication</p></li>
              <li><p>Calendrier RSE</p></li>
              <li><p>Idées calendrier RSE</p></li>
              <li><p>Atelier Intelligence Emotionnelle</p></li>
              <li><p>Idées de bien-être</p></li>
              <li><p>Quizz Atelier Intelligence Emotionnelle</p></li>
              <li><p>Politique SST</p></li>
              <li><p>Programme de sensibilisation</p></li>
              <li><p>Programme de formation</p></li>
              <li><p>Charte Éthique</p></li>
              <li><p>Charte QVCT</p></li>
            </ul>
          </div>
        </article>
      </li>
  
      <!-- Kit Sociétal -->
      <li>
        <article class="card | l-stack l-stack-2xs" data-theme="light">
          <h2 class="plan-title | text-1 heading">Kit Sociétal</h2>
          <div class="metadata | l-stack">
            <p class="price">
              <span class="font-semibold">€490</span>
            </p>
            <div class="ctas | l-flex-grid">
              <a data-type="primary" href="/kits/societal" class="button">Acheter le Kit</a>
            </div>
          </div>
          <div class="pricing-card-features-list l-stack l-stack-xs">
            <p class="font-bold">Inclus dans le kit:</p>
            <ul role="list" class="l-stack checklist">
              <li><p>Plan de communication</p></li>
              <li><p>Idées ateliers en société</p></li>
              <li><p>Partenaires RSE</p></li>
              <li><p>Idées calendrier RSE</p></li>
              <li><p>Calendrier RSE</p></li>
              <li><p>Programme de volontariat</p></li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
  </div>
  