<div class="hero-section">
    <div class="hero-content">
      <h1>Votre rythme,</h1>
      <h1>vos besoin,</h1>
      <h1>notre expertise,</h1>
      <p>pour une transformation durable.</p>
      <div class="hero-buttons">
        <a (click)="startDiagnostic() "routerLink="/questionnaire" class="btn primary">Faites votre diagnostic</a>
      </div>
    </div>
  </div>
  
  <div class="video-section">
    <div class="video-cover" id="video-cover">
      <img src="assets/img/miniature.png" alt="Video placeholder" class="video-thumbnail">
      <a href="https://www.youtube.com/embed/aiZuqIlGYNg?autoplay=1" class="lty-playbtn" id="play-button">
        <span class="lyt-visually-hidden">Play the video</span>
      </a>
    </div>
    <div id="video-container" class="video-container hidden">
      <iframe width="560" height="315" src="" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
    </div>
  </div>

  <div class="hayaterra-section">
    <h1 class="hayaterra-title">Hayaterra, votre partenaire RSE</h1>
    <p class="hayaterra-description">Commencez par un diagnostic rapide pour évaluer votre niveau de maturité RSE et accédez à un plan d'accompagnement complet, adapté à vos besoins. Explorez notre espace de ressources pour découvrir des kits essentiels à la mise en place d'initiatives durables, et laissez notre IA RSE vous guider avec des conseils personnalisés et des informations précises pour réussir votre transition vers un avenir plus responsable.</p>
  </div>

  <div class="cards-container">
    <!-- Card 1 -->
    <div class="card">
      <div class="badgeD">Diagnostic</div>
      <h2 class="card-title">Plan d'accompagnement personnalisé</h2>
      <p>Réalisez un questionnaire pour recevoir un plan d'accompagnement adapté à vos besoins.</p>
      <a href="/questionnaire" class="card-link">Réalisez votre diagnostic →</a>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <div class="badgeK">Kits</div>
      <h2 class="card-title">Boutique de kits RSE</h2>
      <p>Accédez à une boutique de ressources RSE pour renforcer vos initiatives en responsabilité sociétale.</p>
      <a href="/kits" class="card-link">Découvrir la boutique de Kits RSE →</a>
    </div>
  
    <!-- Card 3 -->
    <div class="card">
      <div class="badgeIA">IA</div>
      <h2 class="card-title">Notre IA RSE</h2>
      <p>Utilisez notre IA spécialisée pour poser des questions et obtenir des réponses focalisées sur la RSE afin d'améliorer votre stratégie.</p>
      <a href="/ia" class="card-link">Accéder à l'IA RSE →</a>
    </div>
  </div>
  
  