/* Styles Généraux */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Empêche le débordement horizontal */
}

/* Hero Section */
.hero-section {
  background: linear-gradient(to bottom, #81c784, #aed581);
  color: white;
  text-align: center;
  padding: 4rem 2rem 10rem 2rem; /* Ajusté pour mobile */
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 2.5rem; /* Taille ajustée pour mobile */
  margin-bottom: -1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-buttons .btn {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 0.5rem;
  display: inline-block;
}

.btn.primary {
  background-color: white;
  color: #388e3c;
}

.btn.primary:hover {
  background-color: #f0f0f0;
}

/* Video Section */
.video-section {
  position: relative;
  margin-top: -80px; /* Ajusté pour mobile */
  text-align: center;
  z-index: 2;
}

.video-cover,
.video-container iframe {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border: 1.5px solid white;
  border-radius: 16px;
}

.lty-playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 48px;
  background: url("/assets/img/play.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Hayaterra Section */
.hayaterra-section {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem 1rem;
}

.hayaterra-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.hayaterra-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

/* Cards Container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 2rem;
  width: calc(100% - 4rem); /* Ajuste la largeur en fonction du padding et du gap */
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.badge {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.badgeD {
  background-color: #c1ffc1;
  color: #00650d;
}

.badgeK {
  background-color: #738fff;
  color: #0011ff;
}

.badgeIA {
  background-color: #ffb6fa;
  color: #ff48a7;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
  word-wrap: break-word; 

}

.card-title, .card h2 {
  font-size: clamp(14px, 2vw, 22px); /* Ajuste la taille de la police entre 14px et 18px en fonction de la largeur de la fenêtre */
  //overflow-wrap: break-word; /* S'assure que les mots trop longs sont coupés */
}


.card-link {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.card-link:hover {
  color: #0056b3;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 4rem 8rem 15rem 8rem;
  }

  .hero-content h1 {
    font-size: 4rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

  .hayaterra-title {
    font-size: 3rem;
  }

  .hayaterra-description {
    font-size: 1.2rem;
  }

  .card {
    width: calc(33.333% - 4rem);
  }


  
  
}
